$color-white: #fff;

$color-brand-red-primary: #d0011b;
$color-brand-gray-medium: #bdbdbd;
$color-brand-dark: #17171d;
$color-brand-gray-light: #e9e9e9;
$color-brand-gray-hero: #d8d8d8;
$color-brand-gray-outline: #9b9b9b;

$color-brand-red-dark: #640F0F;
$color-brand-red-light: #BC131C;
$color-brand-red-lighter: #D85867;
$color-brand-black: #000;
$color-brand-gray-darkest: #444444;
$color-brand-gray-dark: #6D6D6D;



$color-brand-blue: #29425F;
$color-brand-blue-light: lighten($color-brand-blue, 15%);
$color-brand-blue-dark: darken($color-brand-blue, 15%);

$color-blue-whale: #0F1A27;
$color-blue-linkedin: #007AB6;
$color-gray-black: #1E1E1E;

$color-violet: #AA27A3;


$circle-image-mask-background-color: rgba($color-brand-black, .45);
