//------------------------------------------
//        Variables
//------------------------------------------
$base-font-size: 16px;

$font-family-proxima: 'ProximaNova-Regular';
$font-family-proxima-light: 'ProximaNova-Regular';
$font-family-proxima-bold: 'ProximaNova-Bold';
$font-family-proxima-italic: 'ProximaNova-RegularIt';

$font-family-chronicle: 'Chronicle Display A';
$font-family-chronicle-fallback: 'Chronicle Display B';

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$file-path-fonts: '/fonts/';

//------------------------------------------
//        Size
//------------------------------------------

$base-font-size: 16px;
$base-font-size-value: 16;


//------------------------------------------
//        Mixins
//------------------------------------------

@mixin font-face($font-family, $file-path, $font-weight, $font-style, $version: '') {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path-fonts}#{$file-path}.eot?#{$version}');
    src: url('#{$file-path-fonts}#{$file-path}.eot?#{$version}#iefix') format('embedded-opentype'),
       url('#{$file-path-fonts}#{$file-path}.woff?#{$version}') format('woff'),
       url('#{$file-path-fonts}#{$file-path}.ttf?#{$version}') format('truetype'),
       url('#{$file-path-fonts}#{$file-path}.svg?##{$font-family}?#{$version}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}


@mixin font-sans-serif ($font-size: null, $base-size: null){
  font-family: $font-family-proxima, sans-serif;
  font-style: normal;

  @if ($font-size != null){
    @include font-size($font-size, $base-size);
  }
}
@mixin font-sans-serif-light ($font-size: null, $base-size: null){
  font-family: $font-family-proxima-light, sans-serif;
  font-weight: $font-weight-light;
  font-style: normal;

  @if ($font-size != null){
    @include font-size($font-size, $base-size);
  }
}
@mixin font-sans-serif-bold ($font-size: null, $base-size: null){
  font-family: $font-family-proxima-bold, sans-serif;
  font-weight: $font-weight-bold;
  font-style: normal;

  @if ($font-size != null){
    @include font-size($font-size, $base-size);
  }
}

@mixin font-serif ($font-size: null, $base-size: null){
  font-family: $font-family-chronicle, $font-family-chronicle-fallback, serif;
  font-style: normal;

  @if ($font-size != null){
    @include font-size($font-size, $base-size);
  }
}

@mixin font-serif-bold ($font-size: null, $base-size: null){
  font-family: $font-family-chronicle, $font-family-chronicle-fallback, serif;
  font-weight: $font-weight-bold;
  font-style: normal;

  @if ($font-size != null){
    @include font-size($font-size, $base-size);
  }
}

@mixin font-size($font-size, $base-size){
  @if ($base-size == null) {
    font-size: px-to-rem($font-size);
  }

  @else {
    font-size: px-to-rem($font-size, $base-size);
  }
}
