$font-family-icons: 'icomoon';
$icomoon-version: '9qzhdf';

@mixin font-icons ($icon-var, $font-size: null, $base-size: null){
  content: $icon-var;
  font-family: $font-family-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @if ($font-size != null){
    @include font-size($font-size, $base-size);
  }
}

$icon-calendar: "\e91a";
$icon-check: "\e919";
$icon-mail: "\e918";
$icon-minus: "\e917";
$icon-external-link: "\e904";
$icon-plus: "\e905";
$icon-close: "\e906";
$icon-search: "\e907";
$icon-download: "\e900";
$icon-list: "\e901";
$icon-marker: "\e902";
$icon-grid: "\e903";
$icon-pdf: "\e908";
$icon-vcard: "\e909";
$icon-share: "\e90a";
$icon-angle-down: "\e90b";
$icon-angle-up: "\e90c";
$icon-angle-right: "\e90d";
$icon-angle-left: "\e90e";
$icon-play: "\e90f";
$icon-long-arrow-right: "\e910";
$icon-long-arrow-left: "\e911";
$icon-long-arrow-up: "\e912";
$icon-long-arrow-down: "\e913";
$icon-facebook: "\e914";
$icon-twitter: "\e915";
$icon-linkedin: "\e916";
$icon-linkedin-alt: "\e91d";
$icon-instagram: "\e91b";
$icon-phone: "\e91c";
