html{
    font-size: 16px;
    @include bp-max($bp-tablet){
        font-size: 14.75px;        
    }
    @include bp-max($bp-mobile){
        font-size: 13.25px;        
    }
}

:global(.page-section){
    padding: $section-spacing-vertical $site-nav-side-margins;
    @include bp-max($bp-tablet){
        padding: $section-spacing-vertical $site-nav-side-margins-tablet;
    }
    @include bp-max($bp-between){
        padding: $section-spacing-vertical $site-nav-side-margins-between;
    }
    @include bp-max($bp-mobile){
        padding: $section-spacing-vertical $site-nav-side-margins-mobile;
    }
}