@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}

@mixin layout-padding($top-padding:0px, $bottom-padding: 0px) {
    padding: px-to-rem($top-padding) px-to-rem($site-nav-side-margins) px-to-rem($bottom-padding) px-to-rem($site-nav-side-margins);
    @include bp-max($bp-tablet) {
        padding: px-to-rem($top-padding) px-to-rem($site-nav-side-margins-tablet) px-to-rem($bottom-padding) px-to-rem($site-nav-side-margins-tablet);
    }
    @include bp-max($bp-between) {
        padding: px-to-rem($top-padding) px-to-rem($site-nav-side-margins-between) px-to-rem($bottom-padding) px-to-rem($site-nav-side-margins-between);
    }
    @include bp-max($bp-mobile) {
        padding: px-to-rem($top-padding) px-to-rem($site-nav-side-margins-mobile) px-to-rem($bottom-padding) px-to-rem($site-nav-side-margins-mobile);
    }
}

@mixin hero-nav-link {
    @include font-sans-serif(12px);
    letter-spacing: 5px;
    text-transform: lowercase;
}

@mixin brand-link {
    @include font-sans-serif(16px);
    color: $color-brand-dark;
    text-transform: lowercase;
    letter-spacing: 0.5px;
    border: solid 1px $color-brand-gray-light;
    padding: px-to-rem(15px) px-to-rem(30px);
    background-color: transparent;
    display: inline-block;
    min-width: px-to-rem(160px);
    //text-align: center;
    position: relative;
    cursor: pointer;
    &:after {
        $font-size: 18px;
        font-size: $font-size;
        position: relative;
        top: 3px;
        line-height: 12px;
        display: inline-block;
        margin-left: px-to-rem(30px, $font-size);
        color: $color-brand-red-primary;
        @include font-icons($icon-long-arrow-right);
    }
    &:before {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        right: 0;
        left: auto;
        bottom: 0;
        height: 3px;
        background: $color-brand-red-primary;
        overflow: hidden;
    }
    &:hover {
        &:before {
            width: 100%;
            left: 0;
        }
    }
}

@mixin brand-link-external {
    @include font-sans-serif(12px);
    color: $color-brand-dark;
    text-transform: lowercase;
    letter-spacing: 0.5px;
    border: solid 1px $color-brand-gray-light;
    padding: px-to-rem(15px) px-to-rem(30px) px-to-rem(15px) px-to-rem(40px);
    background-color: transparent;
    display: inline-block;
    min-width: px-to-rem(160px);
    //text-align: center;
    position: relative;
    cursor: pointer;
    &:after {
        font-size: 18px;
        position: relative;
        top: 3px;
        line-height: 12px;
        display: inline-block;
        margin-left: px-to-rem(10px);
        color: $color-brand-red-primary;
        font-family: icomoon;
        transform: rotateY(180deg);
        content: "\e904";
    }
    &:before {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        right: 0;
        left: auto;
        bottom: 0;
        height: 3px;
        background: $color-brand-red-primary;
        overflow: hidden;
    }
    &:hover {
        &:before {
            width: 100%;
            left: 0;
        }
    }
}

@mixin brand-link-underline {
    position: relative;
    &:after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        background-color: $color-brand-red-primary;
        bottom: 4px;
        height: 5px;
        max-width: 0;
        transition: max-width 0.4s ease-in-out;
        z-index: -1;
    }
    &:hover, &.is-active{
        &:after{
            max-width: 100%;
            width: 100%;
        }
    }
}

@mixin brand-link-simple {
    @include font-sans-serif(12px);
    color: $color-brand-dark;
    text-transform: lowercase;
    letter-spacing: 0.5px;
    border: solid 1px $color-brand-gray-light;
    padding: px-to-rem(15px) px-to-rem(30px) px-to-rem(15px) px-to-rem(40px);
    background-color: transparent;
    display: inline-block;
    min-width: px-to-rem(160px);
    //text-align: center;
    position: relative;
}

@mixin with-arrow {
    &:after {
        font-size: 18px;
        position: relative;
        top: 3px;
        line-height: 12px;
        display: inline-block;
        margin-left: px-to-rem(10px);
        color: $color-brand-red-primary;
        font-family: icomoon;
        transform: rotateY(180deg);
        content: "\E911";
    }
}

@mixin section-title ($textColor: $color-brand-dark) {
    @include font-serif(65px);
    @include bp-max($bp-tablet) {
        @include font-serif(58px);
    }
    @include bp-max($bp-between) {
        @include font-serif(48px);
    }
    @include bp-max($bp-mobile) {
        @include font-serif(40px);
    }
    color: $textColor;
}

@mixin vertical-align {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

@mixin rich-text {
    @include font-sans-serif(30px);
    line-height: px-to-rem(42px);
    color: $color-brand-gray-medium;
}

@mixin hero-page-title() {
    @include hero-nav-link();
    position: absolute;
    bottom: 50px;
    left: $site-nav-side-margins;
    color: $color-white;
    @include bp-max($bp-tablet) {
        left: $site-nav-side-margins-tablet;
    }
    @include bp-max($bp-between) {
        left: $site-nav-side-margins-between;
    }
    @include bp-max($bp-mobile) {
        left: $site-nav-side-margins-mobile;
    }
}

@mixin arrow-right ($font-size:18px) {
    @include font-sans-serif($font-size);
    content: '→';
    position: relative;
    display: inline-block;
    margin-left: px-to-rem(10px);
    color: $color-brand-red-primary;
}

@mixin tile-width() {
    width: (100% / 3);
    @include bp-max(800px) {
        width: 50%;
    }
    @include bp-max(600px) {
        width: 100%;
        min-height: px-to-rem(400px);
    }
}

@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}

@mixin square($size){
    display: block;
    width: $size;
    height: $size;
}
