//------------------------------------------
//              Math Constants
//------------------------------------------
$sqrt-2: 1.41421356237;
//------------------------------------------
//        Transitions
//------------------------------------------
$transition-duration-primary: .2s;
$transition-ease-primary: cubic-bezier(0.77, 0, 0.175, 1);
$transition-page-slider-ease: $transition-ease-primary;
$transition-primary: $transition-duration-primary $transition-ease-primary;
$transition-duration-homepage-slide: .5s;
$transition-duration-60fps: .16s;
//------------------------------------------
//        Variables Shared Across Components
//------------------------------------------
$site-nav-header-height: 175px;
$site-nav-side-margins: 120px;
$site-nav-side-margins-tablet: 80px;
$site-nav-side-margins-between: 40px;
$site-nav-side-margins-mobile: 20px;
$side-panel-width: 40vw;
$site-hero-padding:25vh;
$list-vertical-spacing: 1rem;
$list-indentation: 2rem;
$section-spacing-horizontal: 4rem;
$section-spacing-horizontal-between: 3rem;
$section-spacing-horizontal-mobile: 1.5rem;
$section-spacing-vertical: 100px;
$section-spacing-vertical-between: 80px;
$section-spacing-vertical-mobile: 60px;
$accordion-margin-left: 24px;
$section-header-font-size-mobile: 28px;
$section-header-margin-bottom: 24px;
$blog-max-width: 780px;
$more-button-margin-top: 2rem;

$circle-mask-background-circle-opacity: .4;
