$z-index-nav-menu: 1000;
$z-index-site-search: 900;
$z-index-site-nav: 1200;
$z-index-page-transition: 1100;
$z-index-mobile-landscape-message: 700;
$z-index-modal: 1050;

$z-index-home-intro-panel: 10;
$z-index-home-main-panel: 5;


$z-index-dropdown: 3;
$z-index-dropdown-current: 2;
$z-index-dropdown-options: 1;

$z-index-work-arrows: $z-index-site-nav + 1;
