<template>
  <div
    :class="[
      'Author',
      'Author__background',
      {'Author__active': isOpen}
    ]"
    @click.stop="handleClick($event)"
  >
    <div
      :class="[
        'Author__component',
        {'Author__active': isOpen},
        {'Author__not-fixed': notFixed}
      ]"
    >
      <div
        v-if="!isAboutPage || isOpen"
        class="Author__left-column"
      >
        <div class="Author__image-container-container">
          <SCBackgroundImage
            class="Author__image-container"
            :image="image"
          />
        </div>
      </div>
      <div class="Author__middle-column">
        <span
          class="Author__person-name"
          v-html="name"
        />
        <span
          class="Author__person-role"
          v-html="title"
        />
        <rich-text
          v-if="descriptionType == 'Full'"
          :text="content"
          class="Author__person-bio"
        />
        <rich-text
          v-if="descriptionType != 'Full'"
          :text="content"
          class="Author__person-bio"
        />
      </div>
      <div class="Author__right-column">
        <div class="Author__close-container">
          <button
            class="Author__close-button"
            @click="close()"
          />
        </div>
        <div class="Author__social-links">
          <a
            v-for="link in socialLinks"
            :key="link.link"
            :href="link.link"
            target="_blank"
            :class="`Author__icon-${link.icon}`"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import RichText from './RichText'
import SCBackgroundImage from './SCBackgroundImage'

export default {
  components: {
    RichText,
    SCBackgroundImage
  },
  props: {
    image: { type: String, default: '' },
    name: { type: String, default: '' },
    title: { type: String, default: '' },
    content: { type: String, default: '' },
    socialLinks: { type: Array, default: () => [] },
    notFixed: { type: Boolean, default: true },
    descriptionType: { type: String, default: '' },
    isAboutPage: { type: Boolean, default: false }
  },
  data: () => ({
    isOpen: false
  }),
  computed: {
    ...mapGetters({
      isModalOpen: 'navigation/isModalOpen'
    })
  },
  methods: {
    close: function () {
      this.isOpen = false
      this.$store.commit('navigation/setModalOpen', {
        isModalOpen: false
      })
    },
    handleClick: function (event) {
      if (event.target === this.$el) {
        this.close()
      }
    }
  }
}
</script>

<style lang="scss">

.Author {
  margin-bottom: 5em;

  &__background {
    &.Author__active {
      position: fixed;
      z-index: 9998;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(23, 23, 23, 0.6);
      display: table;
      transition: opacity 0.3s ease;
    }
  }
  &__component {
    background-color: rgba(0, 0, 0, 0.5);
    background-color: $color-brand-dark;
    color: $color-white;
    display: flex;
    position: fixed;
    width: calc(100% - #{$site-nav-side-margins}* 4);
    top: $site-nav-header-height * 1.2;
    left: $site-nav-side-margins * 2;
    opacity: 0;
    z-index: -10;
    transition: opacity 0.3s;
    padding-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    cursor: initial;

    &.Author__active {
      opacity: 1;
      z-index: $z-index-modal;
    }
    &.Author__not-fixed {
      position: relative;
      top: 0;
      left: 0;
      max-width: $blog-max-width;
      margin: px-to-rem(60px) auto 0;
      width: 100%;
      opacity: 1;
      z-index: 1;
      height: auto;
      padding-bottom: px-to-rem(40px);
      .Author__close-container {
        display: none;
      }
    }
  }
  $padding: 60px;
  &__left-column {
    min-width: 25%;
    width: 25%;
    padding-right: 1rem;
    margin-top: -4rem;
    position: relative;
  }
  &__middle-column {
    padding-right: 2rem;
  }
  &__right-column {
    display: flex;
    flex-direction: column;
  }
  &__image-container {
    width: 100%;
    padding-bottom: 100%;
    height: 0;
    position: relative;
    transform: translate(-3rem, -3rem);
    transform-origin: bottom right;
    background-size: cover;
    background-position: center;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: $color-brand-red-light;
      opacity: 0.25;
    }
  }
  &__image {
    width: 100%;
    display: block;
  }
  &__close-container {
    width: 100%;
    padding-right: 2rem;
    text-align: center;
    flex-grow: 1;
  }
  &__close-button {
    color: $color-white;
    &:before {
      @include font-icons($icon-close, 60px);
    }
  }
  &__person-name {
    @include font-serif-bold(56px);
    display: block;
    font-size: 3rem;
    line-height: 1.2;
  }
  &__person-role {
    @include font-serif-bold(30px);
    display: block;
    line-height: 1.2;
    font-size: 1.5rem;
  }
  &__person-bio {
    @include font-sans-serif-light(16px);
    line-height: px-to-rem(22px);
    margin-top: px-to-rem(20px);
    font-weight: bold;
    strong {
      @include font-sans-serif-bold;
    }
    ul {
      margin-left: 0;
    }
    li:before {
      display: none;
    }
  }
  &__person-team {
    @include font-sans-serif-light(16px);
    color: $color-brand-red-primary;
  }

  &__social-links {
    a {
      color: $color-white;
      margin-bottom: px-to-rem(10px);
      transition: color 0.2s;
      &:hover {
        color: $color-brand-red-primary;
      }
    }
  }
  &__icon-linkedin {
    display: block;
    margin-left: 1rem;
    &:before {
      @include font-icons($icon-linkedin, 30px);
    }
  }
  &__icon-email {
    display: block;
    margin-left: 1rem;
    &:before {
      @include font-icons($icon-mail, 30px);
    }
  }
  &__icon-phone {
    display: block;
    margin-left: 1rem;
    &:before {
      @include font-icons($icon-phone, 30px);
    }
  }
  @include bp-max($bp-tablet) {
    &__component {
      width: calc(100% - #{$site-nav-side-margins-tablet} * 2);
      left: $site-nav-side-margins-tablet;
      top: 15%;
      max-height: 80%;
    }
    $padding: 40px;
    &__left-column {
      padding-right: px-to-rem($padding);
    }
    &__middle-column {
      padding-right: px-to-rem($padding);
      padding-top: px-to-rem($padding);
      overflow-y: scroll;
    }
    &__right-column {
      padding-top: px-to-rem($padding);
    }
    &__image-container {
      width: 120%;
      padding-bottom: 120%;
      transform: translate(-1.5rem, -1.5rem);
    }
  }
  @include bp-max($bp-between) {
    &__component {
      width: 100%;
      left: 0;
      height: 100vh;
      top: 0;
      overflow: visible;
      overflow-y: auto;
      flex-wrap: wrap;
      max-height: none;
    }
    &__image-container {
      transform: scale(1);
    }
    &__image-container-container {
      max-width: 324px;
      margin: 0 auto;
      width: 100%;
    }
    &__close-container {
      bottom: auto;
      left: auto;
      top: px-to-rem(20px);
      right: px-to-rem(20px);
      width: auto;
    }
    $padding: 20px;
    &__left-column {
      width: 100%;
      padding-right: px-to-rem($padding) + 4rem;
      padding-left: px-to-rem($padding);
    }
    &__middle-column {
      width: 80%;
      padding-right: px-to-rem($padding);
      padding-left: px-to-rem($padding);
    }
    &__right-column {
      width: 20%;
    }
  }
  @include bp-max($bp-mobile) {
    &__component {
      padding-top: 2rem;
      padding-right: 0rem;
      top: 0;
      max-height: none;
      &.Author__active {
        -webkit-overflow-scrolling: touch;
      }
    }
    &__left-column {
      width: 100%;
      padding-right: 0rem;
      padding-left: 0rem;
      margin-top: 0rem;
    }
    &__middle-column {
      width: 80%;
      padding-bottom: 4rem;
    }
    &__right-column {
      width: 10%;
    }
    &__image-container {
      width: 75%;
      padding-bottom: 75%;
      margin: 0 auto;
    }
    &__image-container-container {
      max-width: 324px;
      margin: 0 auto;
      width: 100%;
    }
  }
}
</style>
