<template>
  <a
    :class="[
      'BrandLink__component',
      {[`BrandLink__${theme}`]: theme}
    ]"
    :href="to"
  >
    <slot />
  </a>
</template>

<script>
export default {
  props: {
    to: { type: String, default: '' },
    theme: { type: String, default: '' }
  }
}
</script>

<style lang="scss">
.BrandLink__component {
  @include brand-link();

  &.BrandLink__dark {
    border-color: $color-brand-gray-darkest;
    background-color: $color-brand-dark;
    color: $color-white;
  }

  &.BrandLink__white {
    color: $color-white;
    border-color: $color-white;
  }
}
</style>
