<template>
  <div class="CircleMaskBackground__component">
    <circle-image-mask
      :image-url="imageUrl"
      class="CircleMaskBackground__circle"
    />
  </div>
</template>

<script>
import CircleImageMask from './CircleImageMask'

export default {
  components: {
    CircleImageMask
  },
  props: {
    imageUrl: { type: String, default: '' }
  }
}
</script>

<style lang="scss">
.CircleMaskBackground {
  &__component {
    position: relative;
    overflow: hidden;
  }

  &__circle {
    $size: 45%;

    position: absolute;
    top: 50%;
    left: 50%;
    background-color: inherit;
    width: $size;
    padding-bottom: $size;
    pointer-events: none;
    transform: translate3d(-50%, -50%, 0);
    opacity: $circle-mask-background-circle-opacity;
  }
}
</style>
