<template>
  <SCBackgroundImage
    :image="imageUrl"
    class="CircleImageMask__component"
  >
    <slot />
  </SCBackgroundImage>
</template>

<script>
import SCBackgroundImage from './SCBackgroundImage'

export default {
  components: {
    SCBackgroundImage
  },
  props: {
    imageUrl: { type: String, default: '' }
  }
}
</script>

<style lang="scss">
$shadow-style: rgba(10,10,10,.3) 0 8px 16px;

.CircleImageMask {
  &__component {
    border-radius: 50%;
    box-shadow: $shadow-style;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $circle-image-mask-background-color;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      background-color: inherit;
      width: 60%;
      height: 60%;
      border-radius: 50%;
      box-shadow: inset $shadow-style;
    }
  }
}
</style>
