<template>
  <div class="DetailBody">
    <rich-text
      :text="content"
      class="DetailBody__rich-text"
    />
  </div>
</template>

<script>
import RichText from './RichText'

export default {
  components: {
    RichText
  },
  props: {
    content: { type: String, default: '' }
  }
}
</script>

<style lang="scss">
.DetailBody {
  @include layout-padding($section-spacing-vertical, 0px);
  background-color: $color-white;
  position: relative;
  overflow:hidden;

  &__rich-text{
    @include font-sans-serif-light(18px);
    color: $color-brand-dark;
    max-width: $blog-max-width;
    margin: 0 auto;

    img{
      margin: px-to-rem(40px) 0;
      width: 100%;
      height: auto;
    }
  }
}
</style>
