<template>
  <hero-container class="DetailHero__hero">
    <SCBackgroundImage
      class="DetailHero__background"
      :image="image"
    />
    <div class="DetailHero__content-container">
      <hero-h1 :text="title" />
      <div class="DetailHero__hero-info">
        <span
          class="DetailHero__hero-date"
          v-html="date"
        />
        <a
          :href="`/blog/?authors=${author.url}`"
          class="DetailHero__hero-author"
          v-html="author.text"
        />
      </div>
    </div>
  </hero-container>
</template>

<script>
import SCBackgroundImage from './SCBackgroundImage'
import HeroContainer from './HeroContainer'
import HeroH1 from './HeroH1'

export default {
  components: {
    SCBackgroundImage,
    HeroContainer,
    HeroH1
  },
  props: {
    title: { type: String, default: '' },
    date: { type: String, default: '' },
    author: { type: Object, default: () => ({}) },
    image: { type: String, default: '' }
  }
}
</script>

<style module lang="scss">
.DetailHero {
  &__hero {
    position: relative;
    overflow: hidden;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-size: cover;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-brand-dark, 0.65);
    }

    &:after {
      $size: 120vmin;

      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      height: $size;
      width: $size;
      border-radius: 50%;
      transform: translate3d(-50%, -50%, 0);
      border: 25vmin solid rgba($color-white, 0.1);
    }
  }

  &__content-container {
    z-index: 2;
    position: relative;
  }

  &__hero-info {
    @include font-sans-serif-light(18px);
    width: (100% * 2 / 3);
    margin: 0 auto;
    span {
      font-size: inherit;
      margin-right: px-to-rem(20px);
    }
  }

  &__hero-author {
    @include font-sans-serif(20px);
    color: $color-white;
    display: inline-block;
    padding: 0.25em 0.5em;
    background-color: $color-brand-red-primary;
    margin: 0.1em;
  }
}
</style>
