<template>
  <div class="FooterComponent__component">
    <div class="FooterComponent__container">
      <div class="FooterComponent__left-container">
        <div class="FooterComponent__footer-links">
          <a
            v-for="link in primaryLinks"
            :key="link.url"
            class="FooterComponent__footer-link-item"
            :href="link.url"
            @click.native="scrollTop"
            v-html="link.name"
          />
        </div>
        <div class="FooterComponent__contact">
          <div class="FooterComponent__address-wrapper">
            <div
              class="FooterComponent__address"
              v-html="address"
            />
            <a
              :href="'tel:'+ phoneNumber"
              class="FooterComponent__address"
              v-html="phoneNumber"
            />
            <div
              class="FooterComponent__copyright"
              v-html="copyrightText"
            />
          </div>
          <div class="FooterComponent__link-container">
            <button
              class="FooterComponent__contact-link"
              @click="toggleContact"
            >
              contact us
            </button>
            <a
              class="FooterComponent__contact-link"
              href="https://content.onenorth.com/one-north-privacy-policy"
            >privacy policy</a>
          </div>
        </div>
      </div>
      <div class="FooterComponent__right-container">
        <div class="FooterComponent__social-links">
          <a
            v-for="link in socialLinks"
            :key="link.url"
            :class="`FooterComponent__icon-${link.icon}`"
            target="_blank"
            :href="link.url"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  props: {
    address: { type: String, default: '' },
    phoneNumber: { type: String, default: '' }
  },
  data: () => ({}),
  computed: {
    ...mapState({
      primaryLinks: 'primaryLinks',
      socialLinks: 'socialLinks',
      isMenuOpen: 'isMenuOpen'
    }),
    copyrightText () {
      const year = new Date().getFullYear()

      return `© Copyright ${year} One North Interactive`
    }
  },
  methods: {
    ...mapMutations({
      toggleContact: 'toggleContact'
    }),
    scrollTop: function () {
      window.scrollTo(0, 0)
    }
  }
}
</script>

<style lang="scss">
.FooterComponent {
  &__component {
    background-color: $color-white;
    color: $color-brand-dark;
    @include layout-padding();
  }
  &__contact {
    display: flex;
  }
  &__address-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__address {
    @include font-sans-serif(16px);
    color: $color-brand-dark;
    line-height: 1.88;
  }

  &__address a {
    margin-top: -3px;
    @include font-sans-serif(16px);
    color: $color-brand-dark;
    line-height: 1.88;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $color-brand-red-primary;
    }
  }

  &__copyright {
    margin-top: 1rem;
    @include font-sans-serif(14px);
  }

  &__contact-link {
    @include brand-link();
    margin-bottom: px-to-rem(10px);
    display: flex;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    border-top: solid 1px $color-brand-gray-light;
    padding: px-to-rem($section-spacing-vertical) 0;
  }

  &__social-links {
    font-size: px-to-rem(30px);
    text-align: right;
    width: fit-content;
    position: absolute;
    right: 0;
    text-align: center;
    a {
      display: block;
      color: $color-brand-dark;
      margin-bottom: px-to-rem(8px);
      transition: color 0.3s ease-in-out;
      &:hover {
        color: $color-brand-red-primary;
      }
    }
  }
  &__icon-twitter {
    &:before {
      @include font-icons($icon-twitter);
    }
  }
  &__icon-facebook {
    &:before {
      @include font-icons($icon-facebook);
    }
  }
  &__icon-linkedin {
    &:before {
      @include font-icons($icon-linkedin);
    }
  }
  &__icon-instagram {
    &:before {
      @include font-icons($icon-instagram);
    }
  }
  &__left-container {
    width: 100% * 2 / 3;
  }
  &__right-container {
    width: 100% * 1 / 3;
    position: relative;
    display: flex;
  }
  &__link-container {
    display: flex;
    flex-direction: column;
    padding-left: px-to-rem(80px);
  }
  &__footer-links {
    @include font-sans-serif(26px);
    letter-spacing: 0.8px;
    margin-bottom: px-to-rem(80px);
  }
  &__footer-link-item {
    padding-right: px-to-rem(34px);
    display: inline-block;
    color: $color-brand-dark;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: $color-brand-red-primary;
    }
  }

  //prevent links from wrapping on tablet sizes
  @include bp-max(905px) {
    &__left-container {
      width: 85%;
    }
    &__right-container {
      width: 15%;
    }
  }

  @include bp-max($bp-between) {
    &__container {
      flex-wrap: wrap;
    }
    &__left-container {
      width: 100%;
    }
    &__right-container {
      width: 100%;
      display: flex;
    }
    &__footer-links {
      text-align: center;
    }
    &__address {
      width: 50%;
      text-align: center;
    }
    &__link-container {
      width: 50%;
      text-align: center;
    }
    &__contact-link {
      margin-left: 0;
      &:before {
        width: 100%;
        left: 0;
      }
    }
    &__social-links {
      text-align: center;
      margin-top: px-to-rem(80px);
      position: relative;
      margin: 2rem auto 0;
      a {
        display: inline-block;
        margin: 0 px-to-rem(20px);
      }
    }

    @include bp-max($bp-mobile) {
      &__footer-links {
        margin-bottom: 1.5rem;
      }
      &__address,
      &__address-wrapper,
      &__contact {
        display: block;
        width: 100%;
      }
      &__link-container {
        display: block;
        width: 100%;
        margin-top: 1.5rem;
      }
    }
  }
  @include bp-max($bp-mobile) {
    &__container {
      padding: 3.25rem 0;
    }
    &__left-container {
      margin-bottom: 2rem;
    }
    &__footer-links {
      margin-bottom: 3rem;
    }
    &__contact {
      flex-direction: column;
    }
    &__address-wrapper {
      width: 100%;
      margin-bottom: 3rem;
    }
    &__address {
      width: 100%;
      text-align: center;
    }
    &__copyright {
      text-align: center;
    }
    &__link-container {
      padding: 0;
      width: 230px;
      margin: 0 auto;
    }
    &__contact-link {
      &:after {
        top: 0;
      }
    }
  }
}
</style>
