<template>
  <h1
    class="HeroH1__component"
    v-html="text"
  />
</template>

<script>
export default {
  props: {
    text: { type: String, default: '' }
  }
}
</script>

<style lang="scss">
.HeroH1 {
  &__component {
    @include font-serif(90px);
    line-height: 1.1;
    margin-bottom: px-to-rem(20px);
    color: $color-white;
  }

  @include bp-max($bp-medium) {
    &__component {
      @include font-serif(70px);
    }
  }

  @include bp-max($bp-tablet) {
    &__component {
      @include font-serif(55px);
    }
  }

  @include bp-max($bp-between) {
    &__component {
      @include font-serif(50px);
    }
  }
}
</style>
