<template>
  <div class="Hero__container">
    <home-hero
      :image="image"
      :title="title"
      :message="message"
      :animation-complete="animationComplete"
    />
    <div
      :class="[
        'Hero__background-texture-container',
        { 'Hero__animation-complete': isAnimationComplete }
      ]"
    >
      <SCBackgroundImage
        image="/images/background-texture.jpg"
        class="Hero__background-texture"
      />
      <div class="Hero__home-services-container">
        <home-services
          :services="services"
          :intro-text="introText"
          class="Hero__home-services Hero__scroll-animation"
        />
      </div>
    </div>
  </div>
</template>

<script>
import HomeHero from './HomeHero'
import HomeServices from './HomeServices'
import SCBackgroundImage from './SCBackgroundImage'

export default {
  components: {
    SCBackgroundImage,
    HomeHero,
    HomeServices
  },
  props: {
    image: { type: String, default: '' },
    title: { type: String, default: '' },
    message: { type: String, default: '' },
    introText: { type: String, default: '' },
    services: { type: Array, default: () => ([]) }
  },
  data: () => ({
    isAnimationComplete: false
  }),
  methods: {
    animationComplete () {
      this.isAnimationComplete = true
    }
  }
}
</script>

<style lang="scss">
.Hero {
  &__container {
    background-color: $color-brand-dark;
    overflow: hidden;
  }

  &__background-texture-container {
    position: relative;
  }

  &__background-texture {
    position: absolute;
    top: 0%;
    left: 0;
    height: 150%;
    width: 100%;
    opacity: .8;

    &:after {
      content: '';
      background: linear-gradient(0deg,rgba($color-brand-dark, 0), $color-brand-dark);
      display: inline-block;
      top: 0;
      left: 0;
      width: 100%;
      height: 20vh;
    }
  }

  &__animation-complete {
    .Hero__scroll-animation {
      transform: none;
      opacity: 1;
    }
  }

  &__home-services-container {
    padding: px-to-rem(200px) 1em;
  }

  &__home-services {
    $duration: .75s;
    position: relative;
    transition: transform $duration,
      opacity $duration;
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }

  @include bp-max($bp-between){
    &__home-services-container {
      padding-bottom: px-to-rem(150px);
    }
  }
}
</style>
