<template>
  <SCBackgroundImage
    :image="backgroundImageUrl"
    class="HeroContainer__component"
  >
    <slot />
  </SCBackgroundImage>
</template>

<script>
import SCBackgroundImage from './SCBackgroundImage'

export default {
  components: {
    SCBackgroundImage
  },
  props: {
    backgroundImageUrl: { type: String, default: '' }
  }
}
</script>

<style lang="scss">
.HeroContainer {
  &__component {
    $spacing: 100px;

    background-color: $color-brand-dark;
    color: $color-brand-gray-hero;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    @include layout-padding($spacing, $spacing);

    /* IE11 fix for flexbox with min-height https://github.com/philipwalton/flexbugs/issues/231 */
    @media all and (-ms-high-contrast: none) {
      *::-ms-backdrop,
      & {
        height: 75vh;
      }
    }
  }

  @include bp-max($bp-mobile) {
    &__component {
      $spacing: 140px;
      padding-top: px-to-rem($spacing);
      padding-bottom: px-to-rem($spacing);
    }
  }
}
</style>
