<template>
  <div
    :class="[
      'HomeHero__component',
      {'HomeHero__animation--loaded': imageLoaded}
    ]"
  >
    <SCBackgroundImage
      :image="image"
      class="HomeHero__background-circle"
    >
      <div class="HomeHero__gradient" />
      <div :class="[ 'HomeHero__line', 'HomeHero__line--top' ]" />
      <div :class="[ 'HomeHero__line', 'HomeHero__line--bottom' ]" />
    </SCBackgroundImage>
    <h2
      class="HomeHero__hero-phrase"
      v-html="title"
    />
    <a
      class="HomeHero__link-to-article"
      style="opacity: 0;"
      href="/blog/post/new-year-new-opportunities-for-growth"
      v-html="message"
    />
  </div>
</template>

<script>
import SCBackgroundImage from './SCBackgroundImage'

export default {
  components: {
    SCBackgroundImage
  },
  props: {
    image: { type: String, default: '' },
    title: { type: String, default: '' },
    message: { type: String, default: '' },
    animationComplete: { type: Function, default: () => {} }
  },
  data () {
    return {
      imageLoaded: false,
      img: undefined
    }
  },
  mounted () {
    this.img = document.createElement('img')

    this.img.onload = () => {
      this.imageLoaded = true
      this.img = undefined

      // Get animation length by summing up animation duration from
      // css variables
      const bottomLineDelay = 0.5 + 0.5 + 0.75 + 0.5
      const lineDuration = 0.25

      const animationDuration = bottomLineDelay + lineDuration

      setTimeout(() => {
        if (this.animationComplete) {
          this.animationComplete()
        }
      }, animationDuration * 1000)
    }

    this.img.src = this.image
  }
}
</script>

<style lang="scss">
  $background-circle-offset: 4rem;

  $zoom-delay: .5s;
  $zoom-duration: .5s;
  $fade-in-delay: $zoom-delay + $zoom-duration;
  $fade-in-duration: .75s;
  $line-duration: .25s;
  $top-line-delay: $fade-in-delay + $fade-in-duration;
  $bottom-line-delay: $top-line-delay + $line-duration;
  $line-height: 6rem;

  .HomeHero {
    &__component {
      background-color: $color-brand-dark;
      z-index: 1;
      height: px-to-rem(800px);
      position: relative;
      text-align: center;
    }

    &__hero-phrase {
      display: inline-block;
      position: absolute;
      top: 30%;
      left: 50%;
      max-width: 35rem;
      min-width: px-to-rem(275px);
      letter-spacing: 0.6px;
      font-size: 6rem;
      line-height: 1;
      color: $color-brand-gray-hero;
      transform: translate3d(-50%, -10%, 0);
      opacity: 0;
        p:last-child {
          display: inline-block;
              &:after {
          content: '.';
          color: $color-brand-red-primary;
          display:inline-block;
          position: absolute;
          white-space: nowrap;
        }
      }
    }

    &__background-circle{
      $circle-size: px-to-rem(1300px);
      $box-shadow: rgba(10,10,10,.3) 0 8px 16px;

      height: $circle-size;
      width: $circle-size;
      border-radius: 50%;
      box-shadow: $box-shadow;
      background-position: 50% 100%;
      background-repeat: no-repeat;
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translate3d(50%, #{$background-circle-offset}, 0);
      background-size: 110% auto;
      opacity: 0;
      transition: background-size $zoom-duration $zoom-delay ease-in-out,
      opacity $zoom-duration $zoom-delay ease-in-out;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate3d(-50%, -50%, 0);
        background-color: $color-brand-dark;
        width: 60%;
        height: 60%;
        border-radius: 50%;
        box-shadow: inset $box-shadow;
      }
    }

    &__gradient {
      $gradient: linear-gradient(180deg, $color-brand-dark, rgba($color-brand-dark, 0));

      position: absolute;
      top: $background-circle-offset;
      left: 0;
      width: 100%;
      height: 60%;
      background: $gradient;

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $gradient;
      }
    }

    &__line {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 0;
      width: 1px;
      background-color: white;
      z-index: 1;

      &--top {
        top: calc(80% - #{$line-height});
        transition: height $line-duration $top-line-delay;
      }

      &--bottom {
        top: 100%;
        transition: height $line-duration $bottom-line-delay;
      }
    }

    &__link-to-article {
      position: absolute;
      left: 50%;
      top: 45%;
      transform: translate3d(-50%, 1rem, 0);
      color: $color-white;
      font-size: rem(22px);
      text-decoration: underline;
      background-color: $color-brand-dark;
      display: inline-block;
      padding-bottom: 1rem;
      transition: color $transition-duration-primary, opacity $fade-in-duration $bottom-line-delay;
      opacity: 0;
      @include font-sans-serif;

      &:hover {
        color: $color-brand-red-primary;
      }
    }

    &__animation--loaded {
      .HomeHero {
        &__hero-phrase {
          transform: translate3d(-50%, -50%, 0);
          opacity: 1;
          transition: transform $fade-in-duration $fade-in-delay,
            opacity $fade-in-duration $fade-in-delay;
        }

        &__background-circle {
          background-size: 140% auto;
          opacity: 1;
        }

        &__link-to-article {
          opacity: 1 !important;
        }

        &__line {
          height: $line-height;
        }
      }
    }

    @include bp-max($bp-medium){
      &__background-circle{
        $circle-size: px-to-rem(1100px);

        height: $circle-size;
        width: $circle-size;
      }

      &__hero-phrase {
        top: 35%;
      }

      &__link-to-article {
        transform: translate3d(-50%, 4rem, 0);
      }
    }

    @include bp-max($bp-tablet){
      &__component {
        height: px-to-rem(600px);
        margin-bottom: 0;
      }

      &__background-circle{
        $circle-size: px-to-rem(1000px);

        height: $circle-size;
        width: $circle-size;
      }

      &__hero-phrase {
        font-size: 5rem;
        top: 30%;
      }

      &__link-to-article {
        transform: translate3d(-50%, 1.5rem, 0);
      }
    }

    @include bp-max($bp-between){
      &__component {
        height: px-to-rem(500px);
        margin-bottom: 0;
      }

      &__background-circle {
        $circle-size: px-to-rem(690px);

        width: $circle-size;
        height: $circle-size;
      }

      &__hero-phrase {
        font-size: 4rem;
        top: 40%;
      }

      &__link-to-article {
        font-size: rem(20px);
        transform: translate3d(-50%, 4rem, 0);
      }
    }
  }
</style>
