<template>
  <div class="HomeServices__component">
    <rich-text
      class="HomeServices__intro-text"
      :text="introText"
    />
    <div class="HomeServices__separator">
      <button
        :class="[
          'HomeServices__btn-separator',
          {'HomeServices__btn-separator--close': activeServiceIndex}
        ]"
        @click="clearSelection"
      />
    </div>
    <div class="HomeServices__buttons">
      <button
        v-for="(service, index) in services"
        :key="index"
        :class="[
          'HomeServices__button',
          {'HomeServices__button--selected': index === activeServiceIndex},
          {'HomeServices__button--not-selected': activeServiceIndex && index !== activeServiceIndex}
        ]"
        @click="selectService(index)"
        v-html="service.title"
      />
    </div>
    <div
      ref="container"
      class="HomeServices__details-container"
    >
      <div
        v-for="(service, index) in services"
        :key="index"
        :ref="index"
        :class="[
          'HomeServices__details',
          {'HomeServices__details--selected': index === activeServiceIndex},
        ]"
      >
        <ul class="HomeServices__sections">
          <li
            v-for="(section, index2) in service.capabilities"
            :key="index2"
            class="HomeServices__section"
            v-html="section"
          />
        </ul>
        <brand-link
          :to="service.link"
          class="HomeServices__link"
          theme="dark"
        >
          meet the team
        </brand-link>
      </div>
    </div>
  </div>
</template>

<script>
import RichText from './RichText'
import BrandLink from './BrandLink'
import { TweenLite } from 'gsap'

export default {
  components: {
    RichText,
    BrandLink
  },
  props: {
    introText: { type: String, default: '' },
    services: { type: Array, default: () => ([]) }
  },
  data: () => ({
    activeServiceIndex: undefined
  }),
  mounted () {
    // Trigger scroll event to fix bug with scroll v-scroll-animation directive
    const event = new CustomEvent('scroll')
    window.dispatchEvent(event)
  },
  methods: {
    selectService (serviceIndex) {
      if (serviceIndex === this.activeServiceIndex) {
        return
      }

      const height = this.$refs[serviceIndex][0].clientHeight
      this.animateHeight(height)
      this.activeServiceIndex = serviceIndex
    },
    clearSelection () {
      const height = 0
      this.animateHeight(height)
      this.activeServiceIndex = undefined
    },
    animateHeight (height) {
      const el = this.$refs.container
      TweenLite.to(el, 0.2, { height })
    }
  }
}
</script>

<style module lang="scss">
.HomeServices {
  &__intro-text {
    @include font-sans-serif;
    font-size: px-to-rem(30px);
    color: $color-white;
    margin: 0 auto;
    max-width: px-to-rem(880px);
    text-align: center;
  }

  &__separator {
    text-align: center;
    height: px-to-rem(40px);
    margin: 3em;
  }

  &__btn-separator {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 2em;
    pointer-events: none;

    &:after,
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      width: 1px;
      position: absolute;
      top: 0%;
      left: 50%;
      transform-origin: 50% 50%;
      background-color: $color-white;
      transition: transform $transition-duration-primary;
    }

    &--close {
      pointer-events: all;

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__button {
    font-size: px-to-rem(24px);
    color: $color-brand-black;
    background-color: $color-brand-gray-medium;
    border-radius: 0;
    padding: .75em;
    min-width: 300px;
    max-width: 100%;
    line-height: 1.1;
    border: 1px solid rgba($color-white, 0);
    background-clip: padding-box;
    text-align: center;
    transition: color $transition-duration-primary,
      background-color $transition-duration-primary;

    @include font-sans-serif;

    &--not-selected {
      background-color: rgba($color-white, .2);
    }

    &--selected,
    &:hover,
    &--not-selected:hover {
      color: $color-white;
      background-color: $color-brand-red-primary;
    }
  }

  &__details-container {
    overflow: hidden;
    height: 0;
    position: relative;
  }

  &__details {
    $duration: .2s;

    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity $duration;

    &--selected {
      opacity: 1;
      pointer-events: all;
      transition: opacity $duration $duration;
    }
  }

  &__sections {
    padding: 3.5em 1em;
  }

  &__section {
    @include font-sans-serif;
    font-size: px-to-rem(24px);
    color: $color-white;
    margin: .25em 0;
  }

  @include bp-max(950px) {
    &__intro-text {
      font-size: px-to-rem(28px);
    }

    &__button {
      min-width: px-to-rem(250px);
    }
  }

  @include bp-max(750px) {

    &__buttons {
      flex-wrap: wrap;
    }

    &__button {
      width: 100%;
    }

    &__details-container {
      display: none;
    }

    &__details {
      display: none;
    }
  }
}
</style>
