<template>
  <button
    tabindex="1"
    :class="[
      'MenuButton__component',
      {'MenuButton__menu-hover': menuHover},
      {'MenuButton__dark-background': isDarkBackground},
      {'MenuButton__dark-background-mobile': isDarkBackgroundMobile}
    ]"
    @click="clickHandler"
  >
    <div class="MenuButton__container">
      <div
        v-if="isOpen && isOverlay"
        class="MenuButton__close"
      />
      <div
        v-else-if="!isOverlay"
        class="MenuButton__lines"
      >
        <div
          v-for="i in 3"
          :key="i"
          class="MenuButton__line"
        />
      </div>
    </div>
  </button>
</template>

<script>
export default {
  props: {
    menuHover: { type: Boolean, default: false },
    clickHandler: { type: Function, default: () => {} },
    isOpen: { type: Boolean, default: false },
    isDarkBackground: { type: Boolean, default: false },
    isDarkBackgroundMobile: { type: Boolean, default: false },
    isOverlay: { type: Boolean, default: false }
  }
}
</script>

<style module lang="scss">
$icon-height: 20px;

.MenuButton {
  &__component {
    &:before {
      background-color: $color-white;
    }

    &:hover {
      .MenuButton {
        &__line {
          background-color: $color-white;
          border-bottom:solid 1px $color-brand-dark;
        }

        &__close {
          color: $color-brand-red-primary;
        }
      }
    }
    &.MenuButton__menu-hover {
      .MenuButton__close {
        color: $color-white;
      }
    }
    &.MenuButton__dark-background,
    &.MenuButton__dark-background-mobile{
      .MenuButton__close {
        color: $color-white;
      }
    }

  }

  &__container {
    width: px-to-rem(29px);
    right: 0;
  }

  &__lines {
    position: relative;
    height: px-to-rem($icon-height);
  }

  &__line {
    $thickness: 2px;

    width: 100%;
    height: px-to-rem($thickness);
    background-color: $color-brand-red-primary;
    position: absolute;
    border-radius: px-to-rem($thickness);
    left: 0;
    transition: background-color $transition-duration-primary;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 50%;
      transform: translate3d(0%, -50%, 0);
      transition: background-color $transition-duration-primary,
        transform $transition-duration-primary;
    }

    &:nth-of-type(3) {
      bottom: 0;
    }
  }

  &__close {
    color: $color-brand-dark;
    position: relative;
    height: px-to-rem($icon-height);
    transition: color $transition-duration-primary;

    &:hover{
      color: $color-brand-red-primary;
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      font-size: px-to-rem(30px);

      @include font-icons($icon-close);
    }
  }

  @include bp-max($bp-mobile){
    &__component{
      &:not(.MenuButton__dark-background-mobile){
        .MenuButton__close {
          color: $color-brand-dark;
        }
      }
    }
  }
}
</style>
