<template>
  <div
    :class="[
      'NavMenu__component',
      {'NavMenu__open': isMenuOpen},
      {'NavMenu__hover': isHover},
      {'NavMenu__careers': isCareers}
    ]"
    :style="height"
  >
    <menu-button
      class="NavMenu__button"
      :menu-hover="isHover"
      :is-open="isMenuOpen"
      :click-handler="toggleMenu"
      :is-dark-background="true"
      :is-dark-background-mobile="true"
      :is-overlay="true"
    />

    <a
      href="/"
      class="NavMenu__home-link"
      @click.native="toggleMenu"
    >
      <span class="NavMenu__mobileLogo">
        <SCImage :image="logo" />
      </span>
    </a>

    <div class="NavMenu__nav-container">
      <ul class="NavMenu__menu-list">
        <li
          v-for="navItem in primaryLinks"
          :key="navItem.url"
          class="NavMenu__menu-link"
          @mouseover="hoveredLink=navItem"
          @mouseleave="hoveredLink=undefined"
        >
          <a
            :class="[
              {'NavMenu__hover--active': hoveredLink && hoveredLink === navItem},
              {'NavMenu__hover--inactive': hoveredLink && hoveredLink !== navItem},
              {'NavMenu__is-current-page-type': isCurrentPageType(navItem)}
            ]"
            :href="navItem.url"
            tabindex="3"
            @click.native="toggleMenu"
            v-html="navItem.name"
          />
        </li>
      </ul>
      <div
        class="NavMenu__description"
        v-html="hoveredLink ? hoveredLink.description : ''"
      />
    </div>
    <div class="NavMenu__nav-footer">
      <ul class="NavMenu__nav-footer-links">
        <li
          v-for="socialLink in socialLinks"
          :key="socialLink.url"
        >
          <a
            :class="[
              'NavMenu__social-link',
              `NavMenu__${socialLink.icon}`
            ]"
            :href="socialLink.url"
            target="_blank"
          />
        </li>
      </ul>
      <span
        class="NavMenu__contact"
        @click="toggleContact"
      >
        Contact
      </span>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import MenuButton from './MenuButton'
import SCImage from './SCImage'

export default {
  components: {
    MenuButton,
    SCImage
  },
  props: {
    isMenuOpen: { type: Boolean, default: false },
    logo: { type: String, default: '' }
  },
  data: () => ({
    hoveredLink: undefined,
    height: null
  }),
  computed: {
    ...mapState({
      primaryLinks: 'primaryLinks',
      socialLinks: 'socialLinks'
    }),
    isHover () {
      return this.hoveredLink !== undefined
    },
    isCareers () {
      return Boolean(this.hoveredLink && this.hoveredLink.name === 'Careers')
    }
  },
  mounted: function () {
    this.height = this.getHeight()
    this.$nextTick(function () {
      window.addEventListener('resize', this.handleResize)
    })
  },
  methods: {
    ...mapMutations({
      toggleMenu: 'toggleMenu',
      toggleContact: 'toggleContact'
    }),
    getHeight () {
      if (navigator.userAgent.search('Safari') >= 0 && navigator.userAgent.search('Chrome') < 0) {
        return 'height: ' + window.innerHeight + 'px'
      }
      return 'height: 100vh'
    },
    handleResize () {
      this.height = this.getHeight()
    },
    isCurrentPageType (navItem) {
      const navUrl = navItem.url // These are set in the site-setting-controller.js file
      const currentRouteName = false // These are set in the router/index.js file

      if (navUrl === '/services') {
        return currentRouteName === 'serviceLanding' || currentRouteName === 'team'
      } else if (navUrl === '/work') {
        return currentRouteName === 'work' || currentRouteName === 'work detail'
      } else if (navUrl === '/blog') {
        return currentRouteName === 'ideas' || currentRouteName === 'ideas detail'
      } else if (navUrl === '/about') {
        return currentRouteName === 'about'
      } else if (navUrl === '/careers') {
        return currentRouteName === 'careers'
      } else {
        return false
      }
    }
  }
}
</script>

<style lang="scss">
$careers-hover-color: rgba($color-white, .3);

.NavMenu {
  &__component {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transform: translate3d(0,-100%, 0);
    transition: transform 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
    z-index: 5;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: block;
      z-index: -1;
    }

    &:before {
      background-color: $color-brand-dark;
    }

    &:after {
      background: $color-brand-dark;
      opacity: 0;
    }

    &.NavMenu__open {
      transform: translate3d(0, 0, 0);
    }

    &.NavMenu__hover{
      &:before {
        background-color: $color-brand-red-primary;
      }

      .NavMenu__social-link {
        color: $color-brand-red-lighter;
      }

      &.NavMenu__careers {
        &:before {
          background: linear-gradient('to left', $color-violet, $color-brand-red-primary);
        }

        &:after {
          opacity: .45;
        }

        .NavMenu__social-link {
          color: $careers-hover-color;
        }
      }
    }
  }

  &__description {
    color: $color-white;
    @include font-sans-serif(18px);
    line-height: px-to-rem(24px);
    position: relative;
    width: 80%;
    top: 60%;
    min-height: 1.5rem;
    margin-top: 1rem;
  }
  &__nav-container{
    position: absolute;
    top: 40%;
    width: 80%;
    transform: translateY(-50%);
    @include layout-padding();
  }
  &__menu-list{
    @include font-serif(90px);
    line-height: px-to-rem(106px);
    padding-top: 3rem;
  }
  &__menu-link {
    display: inline-block;
    position: relative;
    padding-right: .25em;

    a{
      color: $color-brand-gray-dark;

      &.NavMenu__hover--active.NavMenu__hover--active {
        color: $color-white;
      }

      &.NavMenu__hover--inactive.NavMenu__hover--inactive {
        color: $color-brand-red-lighter;

        .NavMenu__careers & {
          color: $careers-hover-color;
        }
      }

      &.NavMenu__is-current-page-type {
        position: relative;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 100%;
          width: 100%;
          height: 3px;
          background-color: $color-white;
        }
      }
    }
    &:nth-child(even){
      a{
        color: $color-white;
      }
    }
  }

  &__home-link {
    position:absolute;
    top:3rem;
    left:8rem;
    display: inline-block;
  }

  &__nav-footer{
    position: absolute;
    bottom: px-to-rem($site-nav-header-height / 2);
    width: 100%;
    @include layout-padding();
  }

  &__nav-footer-links{
    font-size: px-to-rem(34px);
    display: inline-block;
    li{
      display: inline-block;
      margin-right: px-to-rem(30px);
      &:hover {
          a {
            color: $color-brand-red-primary;
          }
        }
      a{
        color: $color-brand-gray-dark;
      }
    }
  }

  &__twitter{
    &:before{
      @include font-icons($icon-twitter);
    }
  }

  &__facebook{
    &:before{
      @include font-icons($icon-facebook);
    }
  }

  &__linkedin{
    &:before{
      @include font-icons($icon-linkedin);
    }
  }

  &__instagram{
    &:before{
      @include font-icons($icon-instagram);
    }
  }

  &__contact{
    @include font-serif(42px);
    color: $color-white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover {
      color: $color-brand-red-primary;
    }
  }

  &__button{
    position: absolute;
    top: 3rem;
    right: px-to-rem($site-nav-side-margins);
    z-index: 100;
  }

  @include bp-max($bp-tablet){
    &__button{
      right: px-to-rem($site-nav-side-margins-tablet);
    }

    &__description {
      display: none;
    }

    &__home-link {
      left: 2rem;
    }
  }
  @include bp-max($bp-between){
    &__button{
      right: px-to-rem($site-nav-side-margins-between);
    }

    &__menu-link {
      @include font-serif(64px);
      line-height: px-to-rem(84px);
      display: block;
    }

    &__nav-container{
      margin-top: -35px;
    }

    &__nav-footer-links{
      font-size: px-to-rem(22px);
    }

    &__contact{
      @include font-serif(40px);
    }

    &__nav-footer{
      bottom: px-to-rem($site-nav-header-height / 3);
      @include layout-padding();
    }
  }

  @include bp-max-height(500px){
    &__menu-list{
      @include font-serif(32px);
    }
    &__nav-container{
      margin-top: -35px;
    }
  }

  @include bp-max-height(625px){
    &__description {
      display: none;
    }
  }

  @include bp-max($bp-mobile){
     &__nav-container{
      margin-top: 3rem;
    }
  }

  @include bp-max-landscape($bp-between){
    &__home-link {
     top: 2rem;
     left:3rem;
    }

    &__menu-list{
      margin-top: 5rem;
      @include font-serif(45px);
      line-height: px-to-rem(50px);
    }

    &__menu-link {
      display: inline-block;
      padding-right: .75em;
      font-size:3rem;
    }
  }
}
</style>
