<template>
  <div
    class="NextUp__component"
  >
    <h2
      class="NextUp__h2"
      v-html="title"
    />
    <div class="NextUp__grid">
      <div class="NextUp__left-container">
        <div
          class="NextUp__rich-text"
          v-html="text"
        />
      </div>
      <div class="NextUp__right-container">
        <a
          v-for="(link, i) in links"
          :key="i"
          class="NextUp__next-up"
          :href="link.url"
        >
          <span
            class="NextUp__text"
            v-html="link.text"
          />
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: { type: String, default: '' },
    text: { type: String, default: '' },
    links: { type: Array, default: () => [] }
  }
}
</script>

<style lang="scss">
.NextUp {
  &__component {
    background-color: $color-white;
    color: $color-brand-dark;
    @include layout-padding($section-spacing-vertical, $section-spacing-vertical);
  }

  &__hide-component{
    display: none;
  }

  &__grid {
    display: flex;
    justify-content: space-between;
  }

  &__left-container{
    max-width: px-to-rem(800px);
  }

  &__right-container{
    position: relative;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__h2{
    @include section-title();
    margin-bottom: px-to-rem(40px);
    text-align: left;
  }

  &__rich-text{
    @include rich-text();
  }

  &__next-up-container {
    position: relative;
  }

  &__next-up{
    @include brand-link();
    white-space: nowrap;

    &:not(:first-child){
      margin-top: 1rem;
    }
  }

  &__text{
    margin-right: 1rem;
  }

  @include bp-max($bp-tablet){
    &__next-up{
      position: relative;
      top: 0;
      left: 0;
      transform: none;

      &:before{
        transition: none;
        width: 100%;
        left: 0;
      }
    }

    &__component{
      flex-wrap: wrap;
    }

    &__left-container{
      width: 100%;
      margin-bottom: px-to-rem(40px);
    }

    &__right-container{
      margin-top: 0;
    }
  }
  @include bp-max($bp-between){
    &__rich-text {
      font-size: px-to-rem(26px);
    }

    &__grid {
      display: block;
    }

    &__right-container {
      padding-left: 0;
    }
  }
}
</style>
