<template>
  <div
    class="RichText__component"
    v-html="text"
  />
</template>

<script>
export default {
  props: {
    text: { type: String, default: '' }
  }
}
</script>

<style lang="scss">
$spacing: 1em;

.RichText__component {
  a {
    color: $color-brand-red-primary;
    &:hover {
      color: $color-brand-blue;
    }
  }

  p {
    margin-bottom: $spacing;
    &:not(:first-child) {
      margin-top: $spacing;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }

  li {

    &:not(:first-child) {
      margin-top: $list-vertical-spacing;
    }
  }

  ul {
    list-style-type: none;
    margin-left: $spacing;

    &:not(:first-child) {
      margin-top: $spacing;
    }

    li {
      &:before {
        margin-right: -.4em;
        content: '•';
        position: relative;
        right: 1em;
      }
    }
  }

  ol {
    margin-left: $spacing;

    &:not(:first-child) {
      margin-top: $spacing;
    }
  }

  table {
    &:not(:first-child) {
      margin-top: $spacing;
    }

    td {
      padding: px-to-em(5px) px-to-em(10px);
      vertical-align: top;
    }
  }

  > *:first-child {
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    //color: $color-brand-red-primary;
    font-size: px-to-em(24px);
    position: relative;
    margin: 1.5em auto;
    width: 80%;

    &:before {
      content: '“';
      position: absolute;
      top: 0;
      right: 100%;
    }

    &:after {
      content: '';
    }
  }
}
</style>
