<template>
  <div
    class="SCBackgroundImage"
    :style="{ 'background-image': `url(${backgroundUrl})` }"
  >
    <div
      v-if="isEditor"
      class="SCBackgroundImage__editor"
      v-html="image"
    />
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    image: { type: String, default: '' }
  },
  computed: {
    isEditor () {
      return this.image.indexOf('scFieldType="image"') !== -1
    },
    backgroundUrl () {
      return this.isEditor
        ? this.image.split('<img src="')[1].split('"')[0]
        : this.image
    }
  }
}
</script>
