<template>
  <span
    v-if="isEditor"
    :class="[
      'SCImage',
      'SCImage--is-editor'
    ]"
    v-html="image"
  />
  <img
    v-else
    class="SCImage"
    :src="image"
  >
</template>

<script>
export default {
  props: {
    image: { type: String, default: '' }
  },
  computed: {
    isEditor () {
      return this.image.indexOf('scFieldType="image"') !== -1
    },
    backgroundUrl () {
      return this.isEditor
        ? this.image.split('<img src="')[1].split('"')[0]
        : this.image
    }
  }
}
</script>

<style lang="scss">
.SCImage {
  img {
    max-width: 100%;
  }
}
</style>
