<template>
  <nav
    v-show="isReady"
    class="SiteNav__component"
  >
    <header
      :class="[
        'SiteNav__header',
        {'SiteNav__header--mini': notAtTop}
      ]"
    >
      <a
        href="/"
        :class="[
          'SiteNav__home-link',
          {'SiteNav__home-link--mini': notAtTop}
        ]"
      >
        <span
          class="SiteNav__logo"
        >
          <SCImage
            :image="logoUrl"
            alt="One North Logo"
          />
        </span>
        <span
          class="SiteNav__mobileLogo"
        >
          <SCImage
            :image="logoUrl"
            alt="One North Logo"
          />
        </span>
      </a>
      <menu-button
        :class="[
          'SiteNav__hamburger-menu',
          {'SiteNav__hamburger-menu--side': notAtTop}
        ]"
        :is-open="isMenuOpen"
        :click-handler="toggleMenu"
        :is-overlay="false"
      />
    </header>
    <nav-menu
      :is-menu-open="isMenuOpen"
      :logo="logoUrl"
    />
  </nav>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import MenuButton from './MenuButton'
import NavMenu from './NavMenu'
import SCImage from './SCImage'

export default {
  components: {
    MenuButton,
    NavMenu,
    SCImage
  },
  data: () => ({
    notAtTop: false,
    isReady: false
  }),
  computed: {
    ...mapGetters({
      isMenuOpen: 'isMenuOpen',
      isContactOpen: 'isContactOpen'
    }),
    logoUrl: () => '/images/logo.svg',
    darkLogoUrl: () => '/images/black-logo.svg'
  },
  mounted () {
    this.handleScroll()
    window.addEventListener('scroll', this.handleScroll)
    this.isReady = true
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll)
    this.isReady = false
  },
  methods: {
    ...mapMutations({
      toggleMenu: 'toggleMenu'
    }),
    handleScroll () {
      this.notAtTop = window.pageYOffset > 0
    }
  }
}
</script>

<style lang="scss">
.SiteNav {
  &__component {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $z-index-site-nav;

    @include layout-padding(45px, 20px);
  }

  &__header{
    position: fixed;
    display: flex;
    left: 8rem;
    right: 8rem;
    justify-content: space-between;
    transition: left .3s ease-in-out, right .3s ease-in-out;
    &--mini {
      left: 2rem;
      right: 2rem;
    }

    a {
      color: $color-white;
    }
  }

  &__home-link {
    max-width: 150px;
    display: inline-block;
    transition: max-width .3s, transform .3s;
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 20px;
    &--mini{
      max-width: 18px;
      &:hover {
        max-width: 150px;
      }
    }
  }

  &__hamburger-menu {
    transition: transform .3s;
  }

  &__logo,
  &__mobile-logo {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  @include bp-max($bp-between) {
    &__component {
      padding: 2.8125rem 1.25rem 1.25rem 2rem;

      .SiteNav__header {
        left: 2rem;
        right: 2rem;
      }
    }
  }
}
</style>
