<template>
  <div
    :class="[
      'SlidingDoor__component',
      {'SlidingDoor__active': active},
      {'SlidingDoor__right-door': pinTitleRight},
      {'SlidingDoor__left-door': !pinTitleRight}
    ]"
  >
    <div
      class="SlidingDoor__left-content"
      @click="clickHandler()"
    >
      <div
        class="SlidingDoor__content-container"
        :style="{right: pinTitleRight ? 0 : 'auto'}"
      >
        <h3
          class="SlidingDoor__title"
          v-html="title"
        />
        <div
          v-if="summary"
          ref="summary"
          class="SlidingDoor__summary-container"
        >
          <rich-text
            class="SlidingDoor__summary"
            :text="summary"
          />
        </div>
        <span class="SlidingDoor__toggle-button" />
      </div>
    </div>
    <div class="SlidingDoor__right-content">
      <div class="SlidingDoor__content-container">
        <span
          class="SlidingDoor__heading"
          v-html="heading"
        />
        <rich-text
          class="SlidingDoor__rich-text"
          :text="text"
        />
        <ul
          v-if="images"
          class="SlidingDoor__images"
        >
          <li
            v-for="image in images"
            :key="image.url"
            class="SlidingDoor__image-container"
            :style="{ 'width': image.width }"
          >
            <SCImage
              class="SlidingDoor__image"
              image="image.url"
              :alt="image.altText"
            />
          </li>
        </ul>
        <a
          v-for="button in buttons"
          :key="button.text"
          :class="[
            'SlidingDoor__read-more',
            {'SlidingDoor__dark-text': pinTitleRight}
          ]"
          :href="button.url"
          v-html="button.text"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { TweenLite } from 'gsap'
import RichText from './RichText'
import SCImage from './SCImage'

export default {
  components: {
    RichText,
    SCImage
  },
  props: {
    title: { type: String, default: '' },
    heading: { type: String, default: '' },
    text: { type: String, default: '' },
    buttons: { type: Array, default: () => [] },
    images: { type: Array, default: () => [] },
    clickHandler: { type: Function, default: () => {} },
    active: { type: Boolean, default: false },
    pinTitleRight: { type: Boolean, default: false },
    summary: { type: String, default: '' }
  },
  watch: {
    active (isActive) {
      const el = this.$refs.summary
      const duration = 0.3

      if (!el) {
        return
      }

      if (isActive) {
        TweenLite.set(el, { height: 'auto' })
        TweenLite.from(el, duration, { height: 0 })
      } else {
        TweenLite.set(el, { overflow: 'hidden' })
        TweenLite.to(el, duration, { height: 0 })
      }
    }
  }
}
</script>

<style lang="scss">
$animation-duration: .3s;

.SlidingDoor {
  &__component{
    display: flex;

    &.SlidingDoor__active{
      .SlidingDoor__left-content{
        width: 50%;
        transition: width 0s ease-in-out $animation-duration;
      }
      .SlidingDoor__right-content{
        width: 50%;
        opacity: 1;
        transition: width 0s  ease-in-out $animation-duration, opacity $animation-duration  ease-in-out $animation-duration;
      }
      .SlidingDoor__toggle-button{
        transform: rotate(270deg);
      }
    }

    &.SlidingDoor__active,
    &:hover {
      .SlidingDoor__toggle-button {
        color: $color-brand-red-primary;
      }
    }
  }
  &__left-content{
    width: 100%;
    position: relative;
    cursor: pointer;
    transition: width 0s ease-in-out;
    overflow: hidden;
  }
  &__content-container{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 50vw;
  }
  &__title{
    @include font-serif(160px);
    text-align: center;
    line-height: 1;
    margin-bottom: 2rem;
  }

  &__summary-container {
    height: 0;
    overflow: hidden;
    @include layout-padding;
  }

  &__summary {
    @include font-sans-serif(24px);
    padding-bottom: 2rem;
  }

  &__toggle-button{
    @include font-serif(50px);
    text-align: center;
    transform: rotate(45deg);
    display: inline-block;
    transition: transform $animation-duration,
      color $animation-duration;
    line-height: 0;

    &:before{
        @include font-icons($icon-close);
    }
  }

  &__right-content{
    position: relative;
    width: 0%;
    overflow: hidden;
    opacity: 0;
    transition: width 0s  ease-in-out, opacity $animation-duration  ease-in-out;

    .SlidingDoor__content-container{
      text-align: left;
      @include layout-padding(60px, 60px);

      @include bp-min($bp-between) {
        .SlidingDoor__right-door & {
          padding-right: 1em;
        }

        .SlidingDoor__left-door & {
          padding-left: 0;
        }
      }
    }
  }

  &__heading{
    @include font-serif(30px);
    display: block;
    line-height: px-to-rem(42px);
    margin-bottom: px-to-rem(20px);
  }

  &__rich-text{
    @include font-sans-serif-light(16px);
    margin-bottom: px-to-rem(40px);
  }

  &__images {
    text-align: center;
  }

  &__image-container {
    width: 35%;
    margin: 1.25rem auto;
  }

  &__image {
    width: 100%;
  }

  &__read-more{
    $spacing: px-to-rem(20px);

    @include brand-link();
    color: $color-brand-gray-light;

    &:not(:last-child){
      margin-right: $spacing;
    }

    &.SlidingDoor__dark-text{
      color: $color-brand-dark;
      border: solid 1px $color-brand-dark;
    }
  }

  @include bp-max($bp-tablet){
    &__title{
      @include font-serif(120px);
    }
    &__read-more{
      margin-bottom: px-to-rem(20px);

      + .SlidingDoor__read-more{
        margin-left: 0;
      }
    }
    &__summary {
      font-size: px-to-rem(22px);
    }
  }

  @include bp-max($bp-between){
    &__component{
      flex-wrap: wrap;
      &.SlidingDoor__active{
        .SlidingDoor__left-content{
          width: 100%;
          transition: width 0s ease-in-out $animation-duration;
        }
        .SlidingDoor__right-content{
          width: 100%;
          opacity: 1;
          max-height: 800px;
          transition: max-height 0s  ease-in-out $animation-duration, opacity $animation-duration  ease-in-out $animation-duration;
        }
      }
    }

    &__left-content{
      width: 100%;
      //height: 100%;
    }

    &__right-content{
      width: 100%;
      max-height: 0;

      .SlidingDoor__content-container {
        padding-top: 0;
      }
    }

    &__title{
      @include font-serif(90px);
    }

    &__content-container{
      position: relative;
      top: 0;
      transform: none;
      padding: px-to-rem(60px);
      width: 100%;
    }
    &__read-more{
      margin-bottom: px-to-rem(20px);

      + .SlidingDoor__read-more{
          margin-left: 0;
      }
    }

    &__summary-container {
      padding-left: 0;
      padding-right: 0;
    }

    &__summary {
      font-size: px-to-rem(20px);
    }
  }

  @include bp-max($bp-mobile){
    &__title{
      @include font-serif(60px);
    }
    &__content-container{
      top: 1em;
    }
  }
}
</style>
