<template>
  <div
    class="SlidingDoors__wrapper"
  >
    <div
      :class="[
        'SlidingDoors__component',
        {'SlidingDoors__left-open': leftOpen},
        {'SlidingDoors__right-open': rightOpen}
      ]"
    >
      <sliding-door
        ref="leftContent"
        :title="featuredItem1.title"
        :text="featuredItem1.description"
        :heading="featuredItem1.header"
        :buttons="featuredItem1.buttons"
        :click-handler="toggleLeftAccordion"
        :active="leftOpen"
        class="SlidingDoors__left-section"
      />
      <sliding-door
        ref="rightContent"
        :pin-title-right="true"
        :title="featuredItem2.title"
        :text="featuredItem2.description"
        :heading="featuredItem2.header"
        :buttons="featuredItem2.buttons"
        :click-handler="toggleRightAccordion"
        :active="rightOpen"
        class="SlidingDoors__right-section"
      />
    </div>
  </div>
</template>

<script>
import SlidingDoor from './SlidingDoor'

export default {
  components: {
    SlidingDoor
  },
  props: {
    featuredItem1: { type: Object, default: () => ({}) },
    featuredItem2: { type: Object, default: () => ({}) }
  },
  data: () => ({
    leftOpen: false,
    rightOpen: false
  }),
  methods: {
    toggleLeftAccordion () {
      this.rightOpen = false
      this.leftOpen = !this.leftOpen
    },
    toggleRightAccordion () {
      this.leftOpen = false
      this.rightOpen = !this.rightOpen
    }
  }
}
</script>

<style lang="scss">
.SlidingDoors {
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  &__component{
    display: flex;
    min-height: px-to-rem(700px);
    flex-grow: 1;

    &.SlidingDoors__left-open{
      .SlidingDoors__left-section{
        width: 100%;
        overflow: hidden;
      }
      .SlidingDoors__right-section{
        width: 0%;
        overflow: hidden;
      }
    }
    &.SlidingDoors__right-open{
      .SlidingDoors__left-section{
        width: 0%;
        overflow: hidden;
      }
      .SlidingDoors__right-section{
        width: 100%;
        overflow: hidden;
      }
    }
  }

  $padding: 40px;
  $animation-duration: .3s;

  &__left-section{
    width: 50%;
    display: flex;
    background-color: $color-brand-dark;
    color: $color-white;
    transition: width $animation-duration;
    overflow: hidden;
  }

  &__right-section{
    width: 50%;
    display: flex;
    background-color: $color-brand-gray-light;
    color: $color-brand-dark;
    transition: width $animation-duration;
    overflow: hidden;
    flex-direction: row-reverse;
  }

  @include bp-max($bp-tablet){
    &__component{
      display: flex;
      min-height: px-to-rem(650px);
    }
  }

  @include bp-max($bp-between){
    &__component{
      min-height: 300px;
      flex-wrap: wrap;
    }

    &__left-section{
      width: 100%;
    }

    &__right-section{
      width: 100%;
    }
  }
}
</style>
