<template>
  <div
    class="Tags__component"
  >
    <div class="Tags__tag-section">
      <a
        v-for="(tag, index) in tagItems"
        :key="index"
        :href="tag.url"
        class="Tags__tag"
        v-html="tag.text"
      />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    tagItems: { type: Array, default: () => [] }
  }
}
</script>

<style lang="scss">
:global(.no-scroll) {
  overflow: hidden;
}

.Tags {
  &__component {
    display: flex;
    max-width: $blog-max-width;
    margin: 0 auto;
    padding: px-to-rem(80px) 0;
  }
  &__tag-section {
    padding-right: px-to-rem(20px);
  }
  &__tag {
    @include brand-link();
    margin-right: px-to-rem(10px);
    display: inline-block;
    margin-bottom: px-to-rem(14px);
    padding: px-to-rem(15px) px-to-rem(30px);
    text-align: center;
    &:after {
      display: none;
    }
  }
  @include bp-max($bp-between) {
    &__component {
      flex-wrap: wrap;
    }
    &__tag-section {
      width: 100%;
      margin-bottom: px-to-rem(40px);
    }
  }
}
</style>
