<template>
  <div class="TileGrid__component">
    <ul class="TileGrid__grid">
      <li
        v-for="(item, index) in tiles"
        :key="index"
        class="TileGrid__item"
      >
        <a
          :href="item.link"
          class="TileGrid__link"
        >
          <circle-mask-background
            ref="circleBackground"
            class="TileGrid__hover-container"
            :image-url="item.image"
            :style="{ 'background-color': item.color }"
          />
          <SCImage
            class="TileGrid__logo"
            :style="{ height: '10%' }"
            :image="item.logo"
          /></a>
      </li>
    </ul>
  </div>
</template>

<script>
import CircleMaskBackground from './CircleMaskBackground'
import SCImage from './SCImage'

export default {
  components: {
    CircleMaskBackground,
    SCImage
  },
  props: {
    tiles: { type: Array, default: () => [] }
  }
}
</script>

<style lang="scss">
$duration: $transition-duration-primary * 2;

.TileGrid {
  &__component {
    position: relative;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 33.33%;
    height: 25vw;
    border-right: 1px solid $color-brand-gray-medium;
    border-bottom: 1px solid $color-brand-gray-medium;
    background-color: $color-white;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      .TileGrid__hover-container {
        transform: scale(1.1);
        opacity: 1;
      }

      .TileGrid__logo {
        filter: invert(1);
      }
    }
  }

  &__logo {
    width: auto;
    height: 12%;
    position: relative;
    transition: filter $duration;
  }

  &__hover-container.TileGrid__hover-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    transition: transform $duration,
      opacity $duration;
    opacity: 0;
  }

  @include bp-max($bp-between) {
    &__item {
      width: 50%;
      height: 40vw;
    }
  }
}
</style>
