@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?9qzhdf');
  src:  url('fonts/icomoon.eot?9qzhdf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?9qzhdf') format('truetype'),
    url('fonts/icomoon.woff?9qzhdf') format('woff'),
    url('fonts/icomoon.svg?9qzhdf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin-alt:before {
  content: "\e91d";
}
.icon-download:before {
  content: "\e900";
}
.icon-list:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e91c";
}
.icon-instagram:before {
  content: "\e91b";
}
.icon-calendar:before {
  content: "\e91a";
}
.icon-pdf:before {
  content: "\e908";
}
.icon-vcard:before {
  content: "\e909";
}
.icon-share:before {
  content: "\e90a";
}
.icon-angle-down:before {
  content: "\e90b";
}
.icon-angle-up:before {
  content: "\e90c";
}
.icon-angle-right:before {
  content: "\e90d";
}
.icon-angle-left:before {
  content: "\e90e";
}
.icon-play:before {
  content: "\e90f";
}
.icon-long-arrow-right:before {
  content: "\e910";
}
.icon-long-arrow-left:before {
  content: "\e911";
}
.icon-long-arrow-up:before {
  content: "\e912";
}
.icon-long-arrow-down:before {
  content: "\e913";
}
.icon-facebook:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e915";
}
.icon-linkedin:before {
  content: "\e916";
}
.icon-check:before {
  content: "\e919";
}
.icon-mail:before {
  content: "\e918";
}
.icon-minus:before {
  content: "\e917";
}
.icon-external-link:before {
  content: "\e904";
}
.icon-plus:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-marker:before {
  content: "\e902";
}
.icon-grid:before {
  content: "\e903";
}
