<script>
export default {
  components: {
    Hero: () => import('./components/Hero'),
    SiteNav: () => import('./components/SiteNav'),
    TileGrid: () => import('./components/TileGrid'),
    SlidingDoors: () => import('./components/SlidingDoors'),
    NextUp: () => import('./components/NextUp'),
    FooterComponent: () => import('./components/FooterComponent'),
    DetailHero: () => import('./components/DetailHero'),
    DetailBody: () => import('./components/DetailBody'),
    Tags: () => import('./components/Tags'),
    Author: () => import('./components/Author')
  },
  props: {
    component: { type: String, default: 'MissingComponentName' },
    props: { type: Object, default: undefined },
    children: { type: Array, default: undefined },
    hydrate: { type: Boolean, default: true },
    store: { type: Object, default: undefined },
    viewBag: { type: Object, default: undefined }
  },
  data () {
    return {
      mounted: false
    }
  },
  mounted () {
    this.mounted = true
  },
  render (createElement) {
    const create = (config, index) => {
      console.log(config)

      if (typeof config !== 'object') {
        return config
      }

      const { component, hydrate, store, children, ...dataObject } = config
      const isRootElement = index === undefined

      if (isRootElement) {
        dataObject.attrs = dataObject.attrs || {}
        dataObject.attrs['data-ssr-data'] = this.mounted ? false : JSON.stringify(config)
        dataObject.attrs['data-hydrate'] = this.mounted ? false : hydrate
      }

      const hasChildren = Array.isArray(children) && children.length

      return createElement(
        component,
        dataObject,
        hasChildren ? children.map(create) : undefined
      )
    }

    return create(this.$props)
  }
}
</script>

<style lang="scss">
@import './assets/styles/sitewide/manifest.scss';
</style>
