:global(.v-scrollspy-navbar) {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 5vw;
    transform: translateX(100%);
    transition: transform .3s;
    z-index: 2;
}

:global(.v-scrollspy-navbar.is-ready) {
    transform: translateX(0);
}

:global(.v-scrollspy-link) {
    background-color: $color-brand-gray-medium;
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    margin: .5rem 0;
    position: relative;
}

:global(.v-scrollspy-link.is-active),
:global(.v-scrollspy-link:hover), {
    background-color: $color-brand-red-primary;
}

:global(.v-scrollspy-link-icon) {
    position: absolute;
    right: -.4em;
    top: -.4em;
    text-decoration: none;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s, opacity .3s;
    background-color: rgba(22, 22, 28, .5);
    border-radius: 1em;
    padding: .1em .6em;
    padding-right: 1.6em;
    white-space: nowrap;
}

:global(.v-scrollspy-link:hover) :global(.v-scrollspy-link-icon) {
    visibility: visible;
    opacity: 1;
}

@include bp-max($bp-nav-menu-mobile) {
    :global(.v-scrollspy-navbar) {
        display: none;
    }
}
