.section-title {
  display: flex;
  align-items: center;

  &:after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1px;
    background-color: $color-brand-gray-darkest;
    margin-left: .5em;
  }
}
